@media only screen and (max-width:992px) {

    /* ----------- Header section start here--------------------*/


    /* right side buttons css */
    .right-side a {
        font-size: 0.8rem;
        padding: 1rem 0 1rem 0;
        width: 10rem;
    }

    .header-content .left-side {
        padding: 10px 0px;
    }
     
    

    .section-heading h2 {
        font-size: 2rem;
        margin-bottom: 1.4rem;
    }

    .header-content .right-side img {
        object-fit: cover;
        max-width: 100%;
    }

    .about-section .right-side p {
        margin-bottom: 2rem;
        font-size: 0.98rem;
    }


    /*----------- mission section ----------- */

    .mission-section .mission-number {
        font-size: 8.5rem;
        margin-right: 1rem;
    }

    .mission-section .left-side p {
        padding-right: 0px;
    }

    .mission-section .left-side p,
    .mission-section .right-side p {
        font-size: 1rem;
        text-align: justify;

    }



    .project-section .card-content h3 {
        font-size: 3rem;
    }

    .project-section .card-content a {
        font-size: 0.8rem;
        letter-spacing: 2px;
    }

}




@media only screen and (max-width:768px) {

    .about-section .right-side p {
        text-align: justify;
    }

    .project-section .card-content h3 {
        font-size: 2.2rem;
    }


    .contact-section img {
        object-fit: cover;
        height: 250px;
        width: 100%;
    }

    .footer-section ul li a {
        line-height: 1.1;
    }
}

@media only screen and (max-width:576px) {
    .about-section img {
        height: 200px !important;
    }
}